.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: black;
}

#footer{

    background-image: linear-gradient(60deg, #0077ff 0%, #485563 100% );
    padding-bottom: 0%;
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem ;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30pc;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}

#footer p{
    color: white;
}
@media only screen and (min-width: 768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px, 60px;  

    }
    h1.section-title{
        font-size: 6rem;
    }
    #one h1{
        font-size: 7rem;
    }
    #services .service-buttom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
 
/*
    #project .project-item{
        flex-direction: row;
    }
    
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
 
    #projects .project-item{
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info{
        height: 100%;
    }
    #projects .all-projects .project-img{
        height: 100%;
    }
        */
    #about .about{
        flex-direction: row;
    }
     #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
     }
     #about .about .col-left .about-img::after{
        left: -34px;
        top: 34öpx;
        height: 98%;
        width: 98%;
        border: 10px solid red;
     }
     #about .col-right{
        text-align: left;
        padding: 30px;
     }
     #about .col-right h1{
        text-align: left;
     }
     #contact .contact{
        flex-direction: column;
        padding: 100px;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
     }
     #contact .contact-item{
        width: 30%;
        margin: 0;
        flex-direction: row;
     }

     #contact .contact-item .icon{
        height: 100px;
        width: 100px;
     }
     @media only screen and (min-width: 1200px) {

#header .hamb{
    display: none;
}
#header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background: transparent;
}
#header .nav-list ul il{
    display: inline-block;
}
#Header .nav-list ul li a{
    font-size: 1.8rem;
}
#header .nav-list ul a:after{
    display: none;
}

#service .service-buttom .service-item{
            flex-basis: 22%;
            margin: 1.5%; 
        }
     }
}
